# **This code is a practice session**
We are practicing togather

In [ ]:
#String:
"Ammar"
"Python ka chilla dobara"
'I am Umar'
'''Love Python'''
'Every thing in Alphbets is string'

#Numeric
123456789
2536
1,2,2,3,4,5,6,7,8,9
[2,4,5,6,7,8,9]
#Boolean 
True
False
#Float
1.2
1.3
#Complex
1+2j
#List
[2,4,6,7,8,9]
#Discctionary
{'name':'Ammar','age':23}
#Tuple
(2,4,5,6)
#Set
{1,2,3,4,5,6,7,8,9}

In [1]:
Ali=50
Ali

50

In [2]:
type(Ali)

int

In [3]:
tuple1=(1,2,3,4,5,6,7,8,9)
type(tuple1)

tuple

In [4]:
list1=[1,2,3,4,5,6,7,8,9]
type(list1)
list[2]

list[2]

In [5]:
list1[2]=90

In [6]:
list1

[1, 2, 90, 4, 5, 6, 7, 8, 9]

In [8]:
lis = [1,2,3,4]
lis[3]

4

In [9]:
string = "Mudassar"
string[3]

'a'

In [10]:
string[-1]

'r'

In [15]:
height = ["umar"=5.6,"Ammar"=5.8,"Ali"=5.9]
print(height)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (743772994.py, line 1)

In [17]:
age = int(input("Enter your age: "))
print(age)
type(age)

54

int